/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';
@import 'base/profile-img.css';

/* Components */
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/ToggleBtn.css';
@import 'cmps/UserMsg.css';
@import 'cmps/ToyList.css';
@import 'cmps/Loading.css';
@import 'cmps/ToyFilter.css';
@import 'cmps/PopUp.css';
@import 'cmps/Chat.css';
@import 'cmps/ToyMap.css';


@import 'cmps/ShoppingCart.css';

/* Pages */
@import 'pages/HomePage.css';
@import 'pages/ToyDetails.css';
@import 'pages/EditPage.css';
@import 'pages/ToyDeshboard.css';
@import 'pages/UserProfile.css';


.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app > * {
    width: 100%;
}

main {
    flex-grow: 1;
}