.toy-filter {
    background-color: var(--clr1);
    padding: 10px;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
}

.filter-form {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: end;
    gap: 5px;
}

.labels-select {
    width: max-content;
    height: 6rem;
    background-color: var(--clr2bg);
    border: none;
    padding-inline: 10px;
}

.labels-select option {
    padding-block: 5px;
    color: var(--clr1bg);
    text-align: center;
}