.toy-details {
    display: grid;
    gap: 40px;
    margin-block: 10px;
    grid-template-columns: .5fr 1fr;

}



.toy-info {
    place-self: start;
    grid-column: 1;
    grid-row: 1 / span 2;

    background-color: var(--clr1);
    padding: 1em;
    border-radius: .5em;
    box-shadow: var(--box-shadow);
    height: 100%;

}

.details-btns {
    display: flex;
    justify-content: space-between;
}

.toy-info h1 {
    font-size: 3em;
    color: var(--clr1bg);
}

.detail-img {
    padding: 1em;
    border-radius: .5em;
    transition: .5s ease-in-out;
    grid-column: 2;
    grid-row: 1;
    width: 200px;
    place-self: center;
}

.label {
    border-radius: 1rem;
    background-color: var(--clr1bg);
    color: white;
    padding: .5rem 1rem;
}

.labels-container {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    gap: 5px;
    margin-block: 15px;
}

@media (max-width: 660px) {
    .toy-details {
        grid-template-columns: 1fr;
    }

    .detail-img {
        grid-column: 1;
        grid-row: 1;
    }

    .toy-info {
        place-self: start;
        grid-column: 1;
        grid-row: 2 / span 2;
    
        background-color: var(--clr1);
        padding: 1em;
        border-radius: .5em;
        box-shadow: var(--box-shadow);
        height: 100%;
    
    }

}