
.login-container {
    display: grid;
    place-self: center;
    gap: .2rem;

}

.upload-preview {
    margin-block: 1rem;
}

.login-toggle-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-block: 1rem;
}