:root {
  --clr1: #dee11db5;
  --clr2: #ae2012;

  --clr1bg: #8911ab;
  --clr1bg-light: #c1f1e1;
  --clr2bg: #ee9b00;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(15, 225, 236);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --box-shadow: 0px 0px 3px 0px rgba(3, 1, 0, 0.503);

} 